extends layout

block content
  div(class="container-fluid")
  h1= title
  - let result=[{name:"Baking bad",author:"baking renold",season:20},{name:"Avengers",author:"stan lee",season:17},{name:"X man",author:"WB",season:23}] 
    div(class="row")
    each form,index in result
         div(class="col-sm-4 bg-info m-1 p-3" onclick=`buy(${index})`) #{form.name} - #{form.author} - #{form.season}
  script.

      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }